body {
    background-image: url(images/eye.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    color: #fafafa;
}

img {
    width: 200px;
            
    border-radius: 100px;
    margin: 30px 43%;
}

h1 {
    color: rgb(184, 220, 255);
    text-align: center;
}

.idade {
    text-align: center;
    color: rgb(184, 220, 255);
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 20px;
}

.sobremim {
    text-align: center;
    color: rgb(184, 220, 255);
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 20px;
}

p {
    font-size: 20px;
}

<!--headers-->

li {
    font-size: 25px;  
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 20px;   
    font-size: 25px;
}   

a{
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 20px;
}

.enlarge-onhover {
    text-align: center;
    width: 125px;
    height: 30px;
}

.enlarge-onhover:hover {
    text-align: center;
    width: 175px;
    height: 35px;
}