body {
    color:white;
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 20px;   
}

a{
    color: white;
    text-decoration: none;
}

div {
    text-align: center;
}

p {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 20px;
}

li {
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 20px;
}

.enlarge-onhover {
    text-align: center;
    width: 125px;
    height: 30px;
}

.enlarge-onhover:hover {
    text-align: center;
    width: 175px;
    font-size: xx-large;
}

.jav {
    background-color: rgba(0, 0, 0, 0.541);
}

.aps {
    float: inline-end;
}

.cs {
    float: inline-end;
}